.cancel {
    border-radius: 50%;
    margin: 0;
    padding: 0;
    aspect-ratio: 1 / 1;
}

.cancel > img {
    height: 90%;
    width: 90%;
}

.cancel:hover > img {
    filter: invert(100%);
}

.exit:hover {
    background-color: rgb(128,64,64);
}